// Font
@font-face {
    font-family: GABRWFFR;
    src: url(../assets/fonts/GABRWFFR.TTF);
}

$friendsFont: "GABRWFFR";

// Colors
$redSpan: red;
$blueSpan: blue;
$yellowSpan: yellow;
$textColor: #fff;

// Gradient Colors
$colorOne: #260a58;
$colorTwo: #548BAB;
$colorThree: #C00935;